<div class="container full-height-container">
  <div class="row">
    <div class="col-sm-12 col-md-9">
      <app-article-list></app-article-list>
    </div>
    <div class="col-sm-12 col-md-3 search-sidebar">
      <mat-card>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
