@import "variables"

.search-sidebar
  width: 340px
  background-color: #eeeeee
  padding-top: 20px
  padding-bottom: 20px

\:host::ng-deep
  .full-height-container
    height: calc(100vh - #{$header-height})
    .row
      height: 100%
      [class^="col-"]
        height: 100%



  .list-card.mat-card
    width: calc(100% - 300px)
    max-width: 800px
    margin-left: auto
